.footer{
    max-width: 100vw;
}
.footer-container{
    padding-top: 10em;
    display: flex;
    max-width: 100vw;
    /* min-height: 80vh; */
    flex-direction: row;
    background: url('https://res.cloudinary.com/nishantdev/image/upload/v1618582324/sapphireFooterBg_w9r6s3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}